{{#with data}}
  <div class='card'>
    <image class='card_photo' src='{{photo}}'></image>
    <h2 class='card_heading'>
      {{heading}}
    </h2>
    <p class='card_info'>
      {{info}}
    </p>
    <a
      href='{{linkUrl}}'
      class='button card_button'
    >{{linkText}}</a>
  </div>
{{/with}}